<div id="mc_embed_signup">
  <form action="https://liftedlabs.us14.list-manage.com/subscribe/post?u=04429058bc8b9511ade0e1aa6&amp;id=66b6bdb28c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input placeholder="Email Address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_04429058bc8b9511ade0e1aa6_66b6bdb28c" tabindex="-1" value=""></div>
  </form>
</div>
