$base-font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight: 100;
$base-font-size: 16px;
$base-font: $base-font-weight $base-font-size $base-font-family;

$white: #faf0ea;
$green: #8ddfd4;
$orange: #dd9c80;
